.main-header {
    height: 70px;
    background-color: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .06);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-left: 269px;
    transition: all .3s ease 0s;
    z-index: 5;
    margin-bottom: 100px;
}